<h1>Preguntas Frecuentes</h1>

<div class="container">
    <div class="options">
        <mat-form-field>
            <mat-label>Filtros</mat-label>
            <input placeholder="Ingrese filtro..." matInput (keyup)="filterCustomers($event)" #input>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateSelected($event)" placeholder="Seleccione una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          

        <button mat-raised-button color="primary">Exportar</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="pregunta">
            <th mat-header-cell *matHeaderCellDef>Pregunta</th>
            <td mat-cell *matCellDef="let element"> {{element.pregunta}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaPublicado">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPublicado | date}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let item">
                <a style="cursor: pointer;" routerLink="../answer-question/3/{{item.id}}"><mat-icon>edit_document</mat-icon></a>
                <a style="cursor: pointer;" (click)="delete=true" (click)="id_delete=item.id"><mat-icon>delete</mat-icon></a>
            </td>
        </ng-container>

        <div class="title-colum">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </div> 
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[4,8,12,16]" #paginator></mat-paginator>
</div>

<div class="eliminar-question" *ngIf="delete">
    <div class="left-delete">
      <a><mat-icon>warning</mat-icon></a>
      <h2>Eliminar Cliente</h2>
    </div>
    <div class="right-delete">
      <p>¿Está Seguro de elimina al Cliente?</p>
      <button style="margin-top: 1rem;" (click)="deleteQuestion()">Aceptar</button>
      <button (click)="delete=false">Cancelar</button>
    </div>
  </div>