
.container{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.left-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-container .formulario{
  display: flex;
  flex-direction: column;
}

.left-container .formulario .telf-type{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.left-container .formulario .buttons-content{
  display: flex;
  justify-content: space-between;
}

.right-container{
  width: 100%;
}

img{
  width: 400px;
}
