<h1>Perfil del Usuario</h1>

<div class="container">
    <div class="left container">
        <form [formGroup]="myForm" class="formulario">
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" readonly="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre_usuario" readonly="true">
            </mat-form-field>

            <div class="telf-type">
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="type_usuario" readonly="true">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono" readonly="true">
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input matInput formControlName="correo_usuario" readonly="true">
            </mat-form-field>
        </form>
    </div>
    <div class="right-container">

    </div>
</div>