mat-grid-tile {
    background: lightblue;
  }

.container{
  display: flex;
  justify-content: space-between;
}

.left-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-container .formulario{
  display: flex;
  flex-direction: column;
}

.left-container .formulario .telf-type{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.left-container .formulario .buttons-content{
  display: flex;
  justify-content: space-between;
}

.right-container{

}

img{
  width: 400px;
}

.input_form{
  /* background-color: #F5DEB3 ; */
}