<h1>Solicitud</h1>

<div class="container">
    <div class="left-container">
        <form [formGroup]="myForm" class="formulario">
            <mat-form-field *ngIf="admin">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" readonly="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" placeholder="Ingrese Nombre..." [readonly]="readonlyMode">
                <div *ngIf="myForm.get('description')?.hasError('required') && myForm.get('description')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input formControlName="fecha_inicio" matStartDate placeholder="Start date">
                    <input formControlName="fecha_fin"  matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>


            <div class="medidas_producto">
                <mat-form-field>
                    <mat-label>Ancho Producto</mat-label>
                    <input type="number" matInput formControlName="ancho_producto" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                    <div *ngIf="myForm.get('ancho_producto')?.hasError('required') && myForm.get('ancho_producto')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alto Producto</mat-label>
                    <input type="number" matInput formControlName="alto_producto" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                    <div *ngIf="myForm.get('alto_producto')?.hasError('required') && myForm.get('alto_producto')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Largo Producto</mat-label>
                <input type="number" matInput formControlName="largo_producto" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                <div *ngIf="myForm.get('largo_producto')?.hasError('required') && myForm.get('largo_producto')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>

            <div class="medidas_espacio">
                <mat-form-field>
                    <mat-label>Ancho Espacio</mat-label>
                    <input type="number" matInput formControlName="ancho_espacio" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                    <div *ngIf="myForm.get('ancho_espacio')?.hasError('required') && myForm.get('ancho_espacio')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alto Espacio</mat-label>
                    <input type="number" matInput formControlName="alto_espacio" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                    <div *ngIf="myForm.get('alto_espacio')?.hasError('required') && myForm.get('alto_espacio')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Largo Espacio</mat-label>
                <input type="number" matInput formControlName="largo_espacio" placeholder="Ingrese Medidas..." [readonly]="readonlyMode">
                <div *ngIf="myForm.get('largo_espacio')?.hasError('required') && myForm.get('largo_espacio')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>
            <div class="buttons-content">
                <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="myForm.invalid" *ngIf="god">Guardar</button>
                <button mat-raised-button color="primary" routerLink="/dashboard-carpenter/{{id_carpenter_god}}/new-budget/{{id_carpenter_god}}/{{id_solicitur}}" *ngIf="EsCarpenter">Aplicar</button>
                <button mat-raised-button color="secundary" (click)="volverProject()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="right-container">
        <mat-tab-group>
            <mat-tab label="Foto Espacio">
                <div class="img-producto">
                    <img src="{{img_espacio}}" alt="">
                </div>
                <form [formGroup]="imgForm" class="formulario">
                    <mat-form-field>
                        <mat-label>Imagen del Proyecto</mat-label>
                        <input matInput formControlName="img_espacio" placeholder="Ingrese URL..." [readonly]="readonlyMode">
                        <div *ngIf="imgForm.get('img_espacio')?.hasError('required') && imgForm.get('img_espacio')?.touched">
                            <span style="color:red;">Este campo es obligatorio</span>
                        </div>
                    </mat-form-field>
                </form>
            </mat-tab>
            <mat-tab label="Presupuestos" *ngIf="EsCustomer">
                <div class="options">
                    <mat-form-field>
                        <mat-label>Monto mínimo</mat-label>
                        <input type="number" matInput placeholder="Monto mínimo" id="amountMin" [(ngModel)]="amountMin">
                    </mat-form-field>
                  
                    <mat-form-field>
                        <mat-label>Monto máximo</mat-label>
                        <input type="number" matInput placeholder="Monto máximo" id="amountMax" [(ngModel)]="amountMax">
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="filtrarBudgets()">Filtrar</button>
                    <button mat-raised-button color="secondary" (click)="clean()">Limpiar</button>
                </div>           
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="monto">
                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                        <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let item">
                            <a style="cursor: pointer;" routerLink="/dashboard-customer/{{id}}/ver-budget/{{id}}/{{item.id}}" *ngIf="EsUser"><mat-icon>visibility</mat-icon></a>
                            <!-- <a style="cursor: pointer;" (click)="delete=true" (click)="id_delete=item.id"><mat-icon>delete</mat-icon></a> -->
                        </td>
                    </ng-container>
                    <div class="title-colum">
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    </div> 
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
