<h1 class="title-section">Home</h1>
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6 pl-5">
                <div class="row">
                    <div id="chart">
                        <apx-chart
                        [series]="pie.series"
                        [chart]="pie.chart"
                        [title]="pie.title"
                        [responsive]="pie.responsive"
                        [labels]="pie.labels"
                        ></apx-chart>
                    </div>
                </div>
                <div class="button-content">
                    <div class="col-lg-6">
                        <button mat-raised-button color="primary" routerLink="/dashboard-admin/{{id}}/clientes-admin" class="button_see">Ver Clientes</button>
                    </div>
                    <div class="col-lg-6">
                        <button mat-raised-button color="primary" routerLink="/dashboard-admin/{{id}}carpenter-admin" class="button_see">Ver Carpinteros</button>
                    </div>
                </div>
            </div>
            <div class="col-6 pl-5">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [stroke]="chartOptions.stroke"
                      [dataLabels]="chartOptions.dataLabels"
                      [yaxis]="chartOptions.yaxis"
                      [labels]="chartOptions.labels"
                      [legend]="chartOptions.legend"
                      [title]="chartOptions.title"
                      [subtitle]="chartOptions.subtitle"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>