<h1>Detalle del Presupuesto</h1>

<div class="container">
    <div class="left-container">
        <form [formGroup]="myForm" class="formulario">
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" readonly="true">
            </mat-form-field>

            <div class="cost">
                <mat-form-field>
                    <mat-label>Mano de Obra</mat-label>
                    <input type="number" matInput formControlName="mano_obra" placeholder="Ingrese Nombre..." [readonly]="readOnlyMode">
                    <div *ngIf="myForm.get('mano_obra')?.hasError('required') && myForm.get('mano_obra')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Costo de Material</mat-label>
                    <input type="number" matInput formControlName="material" placeholder="Ingrese Nombre..." [readonly]="readOnlyMode">
                    <div *ngIf="myForm.get('material')?.hasError('required') && myForm.get('material')?.touched">
                        <span style="color:red;">Este campo es obligatorio</span>
                    </div>
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Fecha de Registro</mat-label>
                <input matInput formControlName="fecha_registro" placeholder="Ingrese Nombre..." [value]="myForm.get('fecha_registro')?.value | date: 'dd-MM-yyyy'"  readonly="true">
                <div *ngIf="myForm.get('fecha_registro')?.hasError('required') && myForm.get('fecha_registro')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estado" placeholder="Ingrese Nombre..." readonly="true">
                <div *ngIf="myForm.get('estado')?.hasError('required') && myForm.get('estado')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>

            <div class="buttons-content">
                <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="myForm.invalid" *ngIf="EsCarpenter">Guardar</button>
                <button mat-raised-button color="secundary" (click)="volverBudget()">Cancelar</button>
            </div>

            <div class="buttons-content">
                <button mat-raised-button color="primary" (click)="aceptarBudget()" *ngIf="EsCustomer">Aceptar</button>
                <button mat-raised-button color="secundary" (click)="rechazarBudget()" *ngIf="EsCustomer">Rechazar</button>
            </div>
        </form>
    </div>
    <div class="right-container">
        <div class="img-boceto">
            <img src="{{img_budget}}" alt="">
        </div>
        <form [formGroup]="imgForm" class="formulario">
            <mat-form-field>
                <mat-label>Imagen del Boceto</mat-label>
                <input matInput formControlName="img_boceto" placeholder="Ingrese URL..." readonly="readOnlyMode">
                <div *ngIf="imgForm.get('img_boceto')?.hasError('required') && imgForm.get('img_boceto')?.touched">
                    <span style="color:red;">Este campo es obligatorio</span>
                </div>
            </mat-form-field>
        </form>
    </div>
</div>