.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 400px;
    width: 400px;
}

mat-card-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}