<h1>Proyectos</h1>

<div class="container">
    <div class="options">
        <mat-form-field>
            <mat-label>Filtros</mat-label>
            <input placeholder="Ingrese filtro..." matInput (keyup)="filterProjects($event)" #input>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre_producto">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="ancho_producto">
            <th mat-header-cell *matHeaderCellDef class="center">Ancho Producto (m)</th>
            <td mat-cell *matCellDef="let element" class="center"> {{element.ancho_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="alto_producto">
            <th mat-header-cell *matHeaderCellDef class="center">Alto Producto (m)</th>
            <td mat-cell *matCellDef="let element" class="center"> {{element.alto_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="precio_producto">
            <th mat-header-cell *matHeaderCellDef>Precio (s/.)</th>
            <td mat-cell *matCellDef="let element"> {{element.precio_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let item">
                <a style="cursor: pointer;" routerLink="/dashboard-customer/{{id}}/ver-proyecto/{{id}}/{{item.id}}"><mat-icon>visibility</mat-icon></a>            </td>
        </ng-container>

        <div class="title-colum">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </div> 
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,15,20]" #paginator></mat-paginator>
</div>